.header {
    background: #000;
    width: 100%;
    height: 110px;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    padding-bottom: 10px
}

.header-logo {
    height: 70%
}

.header p {
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
}

.back-icon {
    position: fixed;
    top: 74px;
    left: 6px;
    width: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    height: 50px;
    text-align: center;
    z-index: 100
}

    .footer img {
        margin-top: 13px;
        cursor: pointer
    }

.content {
    padding: 30px;
    position: relative;
    padding-top: 120px;
    padding-bottom: 50px;
    overflow: auto;
    height: 100%;
}

.text-input {
    background: #000;
}

    .text-input img {
        position: relative;
        top: 6px;
        width: 20px;
        left: 5px;
    }

    .text-input label {
        color: #d2d2d2;
        float: right;
        margin-right: 5px;
        font-size: small
    }

    .text-input input {
        float: right;
        background: none;
        border: none;
        color: #ffdd15;
        text-align: right;
        outline: none;
        position: relative;
        top: -10px;
        padding-right: 5px
    }

        .text-input input[type='text'] {
            left: 45px;
        }

        .text-input input[type='password'] {
            left: 55px;
        }

.content-element {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none
}

.button-black {
    background-color: #000;
    color: #d2d2d2;
}

.button-yellow {
    background: #ffdd15;
    color: #000;
}

    .button-yellow label {
        color: #000;
    }

.button-dark {
    background: #3c3c3c;
    color: #fff;
}

.button-rounded {
    border-radius: 5px
}

.remember-me * {
    float: right
}

.remember-me label {
    font-size: small;
    color: #3c3c3c
}

.remember-me input {
    margin-top: 5px;
    margin-left: 5px;
}

.hide {
    display: none
}

.center {
    text-align: center;
    display: block
}

.dark-content {
    color: #000 !important
}

.full {
    width: 100%
}

.homeitem {
    width: 33.3333333333%
}

    .homeitem p {
        font-size: x-small;
        padding-top: 10px;
        color: #808080;
        padding-bottom: 20px
    }

    .homeitem img {
        width: 50%
    }

.center-screen {
    position: relative
}

.pointer {
    cursor: pointer
}

.title-block {
    width: 100%;
    height: 50px;
    direction: rtl;
    text-align: right;
    padding: 10px;
    margin-top: 10px
}

    .title-block label {
        color: #d2d2d2;
        padding: 4px 5px 0;
    }

.content-item {
    padding: 1rem 1rem 0 1rem;
    background: #3c3c3c;
    overflow: auto;
    margin-bottom: 1rem
}

.loading {
    position: fixed;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    display: none
}

.half {
    width: 50%
}

.gallery-img {
    width: 100%;
}

.arrow {
    padding: 10px;
    border-radius: 5px;
    width: 50px;
    z-index: 101;
    background: #808080;
    cursor: pointer
}

.arrow-block {
    width: 100%;
    padding: 30px;
    position: fixed;
    top: 50%;
    z-index: 101;
    left: 0;
}

.content-item p {
    color: #d2d2d2;
    font-size: 10px;
    direction: rtl;
    text-align: right;
}

.content-item span {
    color: #d2d2d2;
    font-size: 10px;
    padding: 5px;
    text-align: right;
}
.content-left{
    text-align:left;
}
.getdateblock {
    background: #3c3c3c;
    padding:5px;
}

    .getdateblock input[type=text] {
        text-align: left;
        width: calc(100% - 120px);
    }

    .getdateblock label {
        text-align: right;
        width: 50px;
        margin-top:3px;
        color:#d2d2d2
    }
    .getdateblock button {
        width: 70px;
        border: none;
        outline: none;
        height:30px
    }

.content-item label {
    color: #d2d2d2;
    font-size: 12px;
    width: 100%;
    direction: rtl;
}

.detail-table {
    color: white;
    text-align: right
}

.right-margin {
    margin-right: 1rem
}

.right-margin-sm {
    margin-right: .5rem
}

.bottom-margin {
    margin-bottom: 1rem
}

.button-small {
    width: 60px;
    font-size: x-small
}

.left {
    float: left;
    display: inline-block
}

.right {
    float: right;
    display: inline-block
}

.content-right {
    text-align: right
}

.clearfix {
    clear: both;
    display: block;
}

.block-black {
    background-color: #000
}

.rtl {
    direction: rtl
}

.detail-table tbody {
    font-size: x-small
}
